[user]
	name = Arthur Nisnevich
	email = arthur@workbright.com

[alias]
	c = commit -am
	up = pull
	p = push
	st = status -s
	sclone = clone --depth=1
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	cp = cherry-pick
	stashkeep = stash -u --keep-index
	fpp = !"git fetch --prune; git pull"
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

[color]
	ui = always

[core]
	editor = sublime -nw
	excludesfile = /Users/arthur/.gitignore_global
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	tool = opendiff

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/arthur/.stCommitMsg
[branch]
	autosetuprebase = never
	autosetupmerge = always
[pull]
	rebase = preserve
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
